<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Gallery</title>

    <style>
        .image-thumbnail{
            max-height: 200px;
            object-fit: cover;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body class="m-5">
    <div class="container">
        <h1 class="text-center ">MY GALLERY</h1>
        <br><hr>
        <div class="row">
            <div class="col-md-3 ">

               <div class="container-fluid  sticky-top">
                <a href="{% url 'welcome' %}"  class="btn btn-light btn-sm m-1">
                    <img src="https://i.pinimg.com/736x/b3/cc/d5/b3ccd57b054a73af1a0d281265b54ec8.jpg" style="height: 6vh; margin-right: 4vmin;" alt="">
                   <h4  style="margin-right: 5vmin; float: right;">.....</h4></a>

                <div class="card" >
                    
                    <div class="card-header">
                      CATEGORIES
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                          <a href="{% url 'gallery' %}">All</a>
                      </li>

                      {% for category in categories %}

                      <li class="list-group-item">
                        <a  href="{% url 'gallery' %}?category={{category.name}} ">{{ category.name}}</a>
                      </li>

                      {% endfor %}
                        <a href="{% url 'add' %}"  class="btn btn-dark btn-sm m-1">Add Photo</a>
                    </ul>                   
                  </div>
               </div>

            </div>
            <div class="col-md-9">
                <div class="row">

                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card my-2" >
                            <img class="card-img-top mr-1 image-thumbnail " src=" {{photo.image.url}} " alt="Card image cap">
                            <div class="card-body">
                                <small>Category: {{photo.category.name}} </small>
                            </div>
                            <a href=" {% url 'photo' photo.id %} " class="btn btn-outline-dark btn-sm m-1">View</a>
                        </div>
                    </div>

                    {% empty %}

                    <h3>No photos ...</h3>
                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>